MONGODB_URI=mongodb://localhost:27017/lecturer-companion
REMINDER_FROM=reminder@example.com
LECTURER_EMAIL=lecturer@example.com
 
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=1234
VITE_GOOGLE_CLIENT_IDGOOGLE_CLIENT_ID=174409441628-4ou2den2ae3b25aqk64mt3tfn51m3f9v.apps.googleusercontent.com
